<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <style type="text/css">
    .cut {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    </style>
    <script>
    function showError(resp) {
        resp.json().then(function(result) {
            alert('Error: ' + result.message);
        });
    }

    $(function() {
        var contents = new Vue({
            el: '#content',
            http: {
                timeout: 5000
            },
            data: {
                categorys: [],
                examples: [],
                title: 'All',
                keyword: '',
                currentpage: 1,
                totalpage: '',
                showpage: [],
                loading: false
            },
            created: function() {
                this.init();
            },
            methods: {
                init: function() {
                    var that = this;
                    that.loading = true;
                    that.$resource('/api/category/list').get().then(function(resp) {
                        that.loading = false;
                        resp.json().then(function(result) {
                            that.categorys = result.categorys;
                        });
                    }, function(resp) {
                        that.loading = false;
                        showError(resp);
                    });
                    that.listbypage();
                },
                listbypage: function(page){
                    if(page){
                        this.currentpage = page;
                    }
                    var that = this;
                    that.$resource('/api/example/list/' + that.currentpage).get().then(function(resp) {
                        resp.json().then(function(result) {
                            that.examples = result.examples;
                            that.totalpage = parseInt(result.total/10) + 1;
                            that.calcu();
                        });
                    }, function(resp) {
                        showError(resp);
                    });
                },
                listbycat: function(index) {
                    var that = this;
                    let category = that.categorys[index];
                    that.$resource('/api/example/category/' + category.id).get().then(function(resp) {
                        resp.json().then(function(result) {
                            that.examples = result.examples;
                            that.title = category.name;
                            that.totalpage = parseInt(result.total/10) + 1;
                            that.calcu();
                        });
                    }, function(resp) {
                        showError(resp);
                    });
                },
                remove: function(index) {
                    var that = this;
                    var example = that.examples[index];
                    var r = confirm("确定删除数据" + index + "？");
                    if (r) {
                        that.$resource('/api/example/delete/' + example.id).delete().then(function(resp) {
                            that.examples.splice(index, 1);
                        }, showError);
                    }
                },
                edit: function(index) {
                    localStorage.name = this.examples[index].id;
                    location.href = 'example.html';
                },
                calcu: function(){
                    var that = this;
                    var current = that.currentpage;
                    var total = that.totalpage;
                    var start = current - 2 < 1 ? 1 : current - 2;
                    var end = current + 2 > total ? total : current + 2;
                    var temp = [];
                    for(;start <= end;start++){
                        temp.push(start);
                    }
                    that.showpage = temp;
                }
            }
        });


        var isearch = new Vue({
            el: '#search',
            http: {
                timeout: 5000
            },
            data: {
                keyword: ''
            },
            methods: {
                search: function() {
                    if (!this.keyword) {
                        return;
                    }
                    var that = this;
                    that.$resource('/api/example/search/' + that.keyword).get().then(function(resp) {
                        resp.json().then(function(result) {
                            contents.examples = result.examples;
                            contents.title = that.keyword;
                        });
                    }, showError);
                }
            }
        });
    });

    function seedemo(that) {
        var span = $(that).next();
        if (span.html() != '') {
            span.html('');
        } else {
            var htmlstr = $(that).prev().val();
            span.html(htmlstr);
        }
    }
    </script>
</head>

<body>
    <header class="navbar navbar-static-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mao</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/static/example.html">例子管理</a></li>
                        <li><a href="/static/category.html">分类管理</a></li>
                    </ul>
                    <form id="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input v-model="keyword" type="text" class="form-control" placeholder="分类-关键词">
                        </div>
                        <button v-on:click="search" type="button" class="btn btn-default">快速查找</button>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-2">
                <p v-if="loading">Loading...</p>
                <ul class="list-group">
                    <li class="list-group-item" v-for="(t,index) in categorys" :key="t.id" v-on:click="listbycat(index)">
                        <span class="badge">{{t.sort}}</span>
                        <a>{{ t.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10" style="min-height: 500px">
                <ol class="breadcrumb">
                    <li><a href="#" onclick="change">查询结果</a></li>
                    <li><a href="#">{{title}}</a></li>
                </ol>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="15%">标签</th>
                            <th width="30%">描述</th>
                            <th width="40%">例子</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(t,index) in examples">
                            <th scope="row">{{index}}</th>
                            <td>{{t.tag}}</td>
                            <td>{{t.description}}</td>
                            <td>
                                <textarea style="display: none;">{{t.demo}}</textarea>
                                <a onclick="seedemo(this)">查看</a>
                                <pre></pre>
                            </td>
                            <td><a v-on:click="edit(index)">修改</a>|<a v-on:click="remove(index)">删除</a></td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation" style="float:right;">
                    <ul class="pagination">
                        <li v-if="currentpage>1" v-on:click="currentpage--,listbypage()">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                        </li>
                        <li v-for="index in showpage" v-bind:class="{'active':currentpage == index}">
                        <a v-on:click="listbypage(index)" href="#">{{index}}</a>
                        </li>
                        <li v-if="currentpage < totalpage" v-on:click="currentpage++,listbypage()">
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            <p>页脚</p>
        </div>
    </footer>
</body>

</html>